<section class="booking-form-container">
  <h2 class="form-title">Pick your sessions</h2>

  <%= paginate @time_slots %>
  <%= form_for @booking do |form| %>
    <div class="time-slots-container">
      <% @time_slots_by_day.each do |day_of_week, time_slots| %>
        <div class="day-of-week">
          <h4><%= day_of_week %></h4>
          <ul>
            <li>
            <%= form.collection_check_boxes :time_slot_ids, time_slots, :id, :label, disabled: lambda { |time_slot| time_slot.unavailable? } do |check_box| %>
              <%= check_box.check_box("data-price" => check_box.object.price) %>
              <%= check_box.label %>
            <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="running-total"><h4>Total Cost: $<span id="total-price">0</span></h4></div>

    <div class="user-info">
      <div class="form-column">
        <%= form.label :fullname, "Full Name" %>
        <%= form.text_field :fullname, class: "required" %>
        <span class="form-error"></span>
      </div>
      <div class="form-column">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, class: "required" %>
        <span class="form-error"></span>
        <%= form.label :phone, "Phone" %>
        <%= form.telephone_field :phone, class: "required" %>
        <span class="form-error"></span>
        <%= hidden_field_tag 'token', id: "token" %>
      </div>
      <div class="form-column-full-span">
        <%= form.label :special_requirements, "Special requirements" %>
        <%= form.text_area :special_requirements %>
      </div>
    </div>
    <%= form.submit "Submit" %>
  <% end %>
</section>
