<section class="booking-form-container">
  <h2>Find your jam</h2>

  <%= paginate @time_slots %>
  <%= form_for @booking do |form| %>
    <div class="time-slots-container">
      <% @time_slots_by_day.each do |day_of_week, time_slots| %>
        <div class="day-of-week">
          <h4><%= day_of_week %></h4>
          <ul>
            <li><%= form.collection_check_boxes :time_slot_ids, time_slots, :id, :label, disabled: lambda { |time_slot| time_slot.unavailable? }  %></li>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="user-info">
      <div class="form-column">
        <%= form.label :fullname, "Full Name" %>
        <%= form.text_field :fullname %>
      </div>
      <div class="form-column">
        <%= form.label :email, "Email" %>
        <%= form.text_field :email %>
        <%= form.label :phone, "Phone" %>
        <%= form.text_field :phone %>
      </div>
      <div class="form-column-full-span">
        <%= form.label :special_requirements, "Special requirements" %>
        <%= form.text_area :special_requirements %>
      </div>
    </div>


    <%= form.submit "Make booking" %>
  <% end %>
</section>
