<!DOCTYPE html>
<html>
  <head>
    <title>Livelock</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      window.stripe_key = "<%= Rails.configuration.stripe[:publishable_key] %>";
    </script>
  </head>
  <body>
    <section class="header">
      <div class="main-logo"></div>

      <div class="social-container">
        <div class="social">
          <a href="mailto:phillip.gutowski@gmail.com" target="_blank"><span class="icon-mail"></span></a>
          <a href="http://twitter.com/philgutowski" target="_blank"><span class="icon-twitter"></span></a>
          <a href="http://github.com/chukdisc/livelock" target="_blank"><span class="icon-github"></span></a>
          <a href="http://philgutowski.tumblr.com" target="_blank"><span class="icon-tumblr"></span></a>
          <a href="https://www.linkedin.com/in/philgutowski" target="_blank"><span class="icon-linkedin"></span></a>
        </div>
    </div>
    </section>

  <%= yield %>

  </body>
</html>
