<!DOCTYPE html>
<html>
  <head>
    <title>Livelock</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
      window.stripe_key = "<%= Rails.configuration.stripe[:publishable_key] %>";
    </script>
  </head>
  <body>
      <div class="page-title">
        <h1>Shipyard</h1>
      </div>

      <div class="social-container">
        <div class="social">
          <a href="mailto:phil@shipyardrehearsals.com" target="_blank"><span class="icon-mail"></span></a>
          <a href="http://twitter.com/philgutowski" target="_blank"><span class="icon-twitter"></span></a>
          <a href="http://github.com/chukdisc/livelock" target="_blank"><span class="icon-github"></span></a>
          <a href="https://plus.google.com/107308906375892709411/about" target="_blank"><span class="icon-googleplus2"></span></a>
          <a href="https://www.facebook.com/shipyardrehearsals" target="_blank"><span class="icon-facebook"></span></a>
        </div>
    </div>

  <%= yield %>

  </body>
</html>
